# Node.js / npm
node_modules/
npm-debug.log
.npm

# Environment variables
.env
.env.local

# Editor/IDE files
.vscode/
.idea/

# Build files
build/
dist/
out/

# Dependency directories
bower_components/
